<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Connexion par mot de passe</title>
    <link rel="stylesheet" href="../bootstrap-5.0.2-dist/css/bootstrap.min.css">
</head>
<body>
    <header class="container"> 
        <h4 class="col-*-2">
            <span class="row">ECOLE PRIVEE AGREEE</span><br>
            <span class="row">PERE LAZARISTE/PROVINCE DU CONGO</span><br>
            <span class="row">COMPLEXE SCOLAIRE SAINT VINCENT DE PAUL</span><br>
        </h4>
        <div>
            <h3></h3>
        </div>
    </header>
    <section>
        <form class="col-*-5" action="" method="post">
            <div>
                <label for="last-name">IDENTIFIANT </label>
                <input type="text">
            </div>
            <div>
                <label for="password">MOT DE PASSE </label>
                <input type="password" name="" id="password">
            </div>
            <div>
                <input type="submit" value="CONNEXION">
            </div>        
            
        </form>
    </section>
    <footer>
        <div>
            <a href="connexion_par_email.html">Connectez-vous par votre adresse mail ?</a>
            <a href="conexion_par_numero_de_phone.html">Par votre Numéro de Téléphone ?</a>
        </div>
    </footer>
</body>
</html>